{% extends 'base.html' %}

{% block head %}
    <title>Messages</title>
{% endblock %}

{% block body %}
    <h1>Lobby</h1>
    <hr>
        <h2>Create New Blog Post</h2>
        <form action='/posts', method = 'POST'>
            To: <input type = 'text', name = 'receiver', id = 'receiver'>
            <br>
            Title: <input type = 'text' name = 'title' id = 'title'>
            <br>
            Message: <input type = 'text' name = 'message' id = 'message'>
            <br>
            From:  <input type = 'text' name = 'sender', id = 'sender'>
            <br>
            <input type='submit' value = "Send">
        </form>
    <hr>

    {% for post in posts %}
        <hr>
            <h3>For: {{post.receiver}}</h3>
            <h4>{{post.title}}</h4>
            <br>
            <p>{{post.message}}</p>
            <p>~{{post.sender}}</p>
        <hr>
    {% endfor %}

{% endblock %}